[Unit]
Description=gofire, a lightweight personal bookkeeping app hosted by yourself.
After=syslog.target
After=network.target
After=mariadb.service mysqld.service postgresql.service

[Service]
Type=simple
User=gofire
Group=gofire
WorkingDirectory=/usr/local/bin/gofire
ExecStart=/usr/local/bin/gofire/gofire server run
Restart=on-failure

[Install]
WantedBy=multi-user.target
